<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wlfei.mcn.dao.RelationDao">
	<!-- // 关联多个对象 public User findUserAndBooks(String userId); -->
	<select id="findUserAndBooks" parameterType="String"
		resultMap="userMap1">
		select cn_user_id as userId,
		cn_user_name as userName,
		cn_user_password as
		userPassword,
		cn_user_nick as userNick,
		cn_user_token as userToken
		from
		cn_user where
		cn_user_id=#{userId}
	</select>
	<resultMap type="com.wlfei.mcn.entity.User" id="userMap1">
		<id property="userId" column="userId" />
		<result property="userName" column="userName" />
		<collection property="books" javaType="java.util.List"
			ofType="com.wlfei.mcn.entity.Book" select="findBooks" column="userId"></collection>
	</resultMap>
	<select id="findBooks" parameterType="String"
		resultType="com.wlfei.mcn.entity.Book">
		select
		cn_notebook_id as notebookId,
		cn_user_id as userId ,
		cn_notebook_type_id as notebookTypeId,
		cn_notebook_name as
		notebookName,
		cn_notebook_desc as notebookDesc,
		cn_notebook_createtime
		as notebookCreateTime
		from
		cn_notebook where cn_user_id=#{userId}
	</select>
	
	
	<!-- // 关联单个对象 public List<Book> findBookAndUser(); -->
	<!-- 先查询到所有book ，然后根据book中的cn_user_id获取相关联的user -->
	<select id="findBookAndUser" resultMap="bookMap">
		select
		cn_notebook_id as notebookId,
		cn_user_id as userId ,
		cn_notebook_type_id as
		notebookTypeId,
		cn_notebook_name as
		notebookName,
		cn_notebook_desc as
		notebookDesc,
		cn_notebook_createtime
		as notebookCreateTime
		from cn_notebook

	</select>
	<resultMap type="com.wlfei.mcn.entity.Book" id="bookMap">
		<association property="user"
			javaType="com.wlfei.mcn.entity.User" select="findUser"
			column="cn_user_id"></association>
	</resultMap>
	<select id="findUser" parameterType="String"
		resultType="com.wlfei.mcn.entity.User">
		select cn_user_id as userId,
		cn_user_name as userName,
		cn_user_password as userPassword,
		cn_user_nick as userNick,
		cn_user_token as userToken from cn_user where cn_user_id=#{id}
	</select>
</mapper>