@charset "UTF-8";

body {
	background: #232332;
}
h3{
	line-height: 50px;
	font-size: 22px;
	font-weight: 400;
	text-indent: 1.5em;
	margin: 0;
}
dt{
	margin-bottom: 20px;
}
.outer {
	position: relative;
}

.log {
	background-color: #fff;
	border: 1px solid #fff;
	margin-left: auto;
	margin-right: auto;
	width: 500px;
	/* height: 230px; */
	border-radius: 5px;
	overflow: hidden;
	outline: 0 none;
}
.header{
	height: 50px;
	background: #337ab7;
	color: #eee;
}