@charset "UTF-8";

* {
	margin: 0;
	padding: 0;
}

a:focus, a:hover {
	text-decoration: none;
}

.header {
	background: #232323;
	height: 50px;
	line-height: 50px;
	color: #eee;
	width: 100%;
	position: relative;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	min-width: 600px !important;
}

.header .form-inline .form-control {
	display: inline-block;
	background-color: rgba(255, 255, 255, .25);
	color: #bdc3c7;
	border: 0;
	padding-right: 34px;
	width: 100%;
	box-shadow: none;
	border-radius: 3px;
}

.header-logo {
	float: left;
	width: 50px;
	height: 50px;
	background: #ddd;
	margin-left: 18px;
	padding: 0;
	border: none;
}

.header-desc {
	float: left;
	font-size: 20px;
	padding-left: 10px;
	padding-right: 10px;
}

.header-func {
	float: right;
	width: 400px;
	height: 50px;
	padding-left: 10px;
	padding-right: 10px;
}

.header-func-search, .header-func-activity, .header-func-user {
	float: left;
}

.header-func-search {
	width: 200px;
	padding-left: 10px;
	padding-right: 10px;
}

.header-func-activity {
	width: 70px;
	text-align: center;
	font-size: 16px;
	padding-left: 10px;
	padding-right: 10px;
	color: #eee;
}

.header-func-activity a {
	display: block;
	color: #eee;
}

.header-func-activity:hover {
	background: #808080;
}

.header-func-user {
	width: 100px;
	float: right;
}
.header-func-user a.icon{
	margin-left: 5px;
	color: #eee;
	cursor: pointer;
}

body {
	font-family: '微软雅黑';
}

p {
	padding: 0;
	margin: 0;
}

.container {
	width: 960px !important;
	max-width: none !important;
}
.pc-part-header{
	height: 31px;
	line-height: 30px;
	font-size: 15px;
	font-weight: bold;
	background: #5196ce;
}
#pc-part-1-header, #pc-part-1-footer, #pc-part-2-header,
	#pc-part-2-footer {
	height: 31px;
	
	line-height: 30px;
	font-size: 15px;
	font-weight: bold;
}
.pc-part-span{
	color: #eee;
}

.pc-part {
	margin: 0;
	padding: 0;
}

.pc-part ul {
	margin-top: 1px;
}

.pc-part li {
	cursor: default;
}

.pc-part li a {
	padding: 0 0 0 20px;
	display: block;
	height: 30px;
	line-height: 30px;
	margin: 0;
	color: #646464;
}

.pc-part li a:hover {
	background: #65a2d3;
	color: #eee;
}

.pc-part .checked {
	background: #488fca;
	color: #eee;
}

.pc-part-center {
	border-right: 1px solid #337ab7;
	padding-left: 5px;
	position: relative;
	top: 0;
	bottom: 0;
	padding-bottom: 40px;
	right: 0px;
	z-index: 9;
	background-color: #FFF;
	color: #000;
	width: 100%;
	overflow: hidden;
	-webkit-transition: right .3s ease;
	-ms-transition: right .3s ease;
	transition: right .3s ease;
}

#pc-part-1-header, #pc-part-1-footer {
	background: #337ab7;
}

.pc-part-span {
	padding: 0 5px;
}

#pc-part-2-header {
	background: #5196ce;
}

#pc-part-3-header {
	background: #eee;
	height: 44px;
	padding-top: 3px;
	padding-bottom: 7px;
	border-bottom: 2px solid #337ab7;
}

#pc-part-3-center {
	background: #eee;
	float: left;
}

.module {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	overflow: auto;
}

.ueditor-wrap {
	
}

.mybtn-plus {
	float: right;
	margin-top: 4px;
	margin-right: 8px;
}

.footer {
	height: 30px;
	background: #232332;
	padding-left: 10px;
	padding-right: 10px;
	line-height: 30px;
	color: #ddd;
}

.margin-zero {
	margin: 0;
}

.padding-zero {
	padding: 0;
}
.functions{
	color: #fff;
}
.click {
	background: #65a2d3;
	cursor: pointer;
	height: 31px;
	border-top: 1px solid #296596;
	border-right: 1px solid #296596;
	text-align: center;
	color: #eee;
}

.click:hover {
	background: #488fca;
}

.function {
	width: 30px;
	display: inline-block;
	text-align: center;
	padding: 0;
	margin: 0;
	float: left;
}

.small-icon {
	font-size: 16px;
	line-height: 30px;
}
.opacity_background{
	width:100%;
	height:100%;
	position:fixed;
	top:0;
	left:0;
	background:#000;
	opacity:0.6;
	margin:auto;
	z-index:1049;
	display:none;
}